.app.dark {
  --bg-color: #010181;
  --inverted-bg-color: #e3abff;

  --primary-color: #0d860d;
  --secondary-color: #00e500;
  --inverted-primary-color: #d32453;
  --inverted-secondary-color: #5b5eff;
}